.txt1 {
  font-family: Arial, Verdana, sans-serif;
  color: black;
}
.txt2 {
  font-family: Arial, Verdana, sans-serif;
  color: crimson;
}
.txt3 {
  font-family: Monaco, Verdana, sans-serif, monospace;
  color: navy;
}
